:root {
    --header-color: dimgray;
    --text-color: black;
    --bg-color: whitesmoke;
    --border-color: darkgray;
    --speaking-color: gold;
    --link-color: blue;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --bg-color: black;
      --text-color: whitesmoke;
      --border-color: grey;
      --link-color: lightseagreen;
      --speaking-color: darkorange;
    }
  }

  body {
    max-width: 768px;
    margin: 0;
    padding: 3rem 2rem;
    font-family: -apple-system, Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    line-height: 1.6;
    border: 3vh groove var(--border-color);
    background-color: var(--bg-color);
    color: var(--text-color)
  }

  @media screen and (min-width: 800px) {
    body {
      margin: 4rem auto;
      padding: 5rem max(4rem, 3vw);
    }
  }

  h1,h2,h3,h4,h5,h6 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--header-color);
    line-height: 1.15;
  }

  h1 {
    font-size: 3.815rem;
  }
  h2 {
    font-size: 3.052rem;
  }
  h3 {
    font-size: 2.441rem;
  }
  h4 {
    font-size: 1.953rem;
  }
  h5 {
    font-size: 1.563rem;
  }
  h6, dt {
    font-size: 1.25rem;
  }

  @media screen and (min-width: 640px) {
    h1 {
      font-size: 5.61rem;
    }
    h2 {
      font-size: 4.209rem;
    }
    h3 {
      font-size: 3.157rem;
    }
    h4 {
      font-size: 2.369rem;
    }
    h5 {
      font-size: 1.777rem;
    }
    h6, dt {
      font-size: 1.333rem;
    }
  }
  
  a {
    color: var(--link-color)
  }
  small {
    font-size: 0.75rem;
  }
  blink {
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    font-style: oblique;
    font-weight: 600;
    color: green;
  }
  dt {
    font-weight: 600;
  }

  marquee {
    background-color: var(--speaking-color);
    padding: 2rem;
    border-radius: 2px;
    border: 1vh groove var(--speaking-color)
  }

  dd + dt {
    margin-top: 1rem;
  }

  dt,h1,h2,h3,h4,h5,h6 {
    max-width: 48ch
  }

  h1,h2,h3 {
    max-width: 20ch;
  }

  p, dd, li {
    max-width: 70ch;
  }